<nav class="navbar navbar-expand-lg navbar-light bg-light box mb-5">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="../../../assets/img/angular.png" style="width: 40px;" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li style="text-decoration: none;" class="nav-item dropdown">
            <span class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Pipes de Angular
            </span>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a id="colors" class="dropdown-item" routerLink="">Textos y Fechas</a></li>
              <li><a  id="colors" class="dropdown-item" routerLink="numeros">Numeros</a></li>
              <li><a  id="colors" class="dropdown-item" routerLink="no-comunes">No Comunes</a></li>
            </ul>
          </li>
          <li style="text-decoration: none;" class="nav-item dropdown">
            <span routerLink="ordenar" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Pipes Personalizados
            </span>
          </li>
        </ul>
      </div>
    </div>
  </nav>