<div class="container mt-5">

<app-navbar></app-navbar>
<router-outlet></router-outlet>
<h1>{{Titulo | titlecase }}</h1>
<h1> {{moneda | currency }} </h1>

<button class="btn btn-info mb-5">Aceptar <img style="width: 20px;" src="../assets/img/check.png" alt=""></button>
<div class="card" style="width: 18rem;">
    <h5 class="card-title">Card title</h5>
    <img src="../assets/img/angular icono.png" class="card-img-top" alt="...">
    <div class="card-body mb-5">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>



</div>